body {
    margin: 0%;
    padding: 0%;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.nav img {
    height: 90px;
    color: white; 
    /* does nothing(color) */
}
video::-webkit-media-controls-panel {
    display: none; 
    opacity: 0;
}
.me {
    width: 5600px;
    height: fit-content;
}

.textMe {
    background-color: grey;
    width: 300px;

}
.head1 {
display: flex;
justify-content: space-around
}
.Projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding-left: 10px;
  }
  
  .proj {
    background-color: black;
    height: 500px;
    border-radius: 8px;
  }
.all {
    display: flex;
    gap: 20px; 
    padding: 20px;
    font-family: serif;
}
.column {
    display: flex;
    flex-direction: column;
}
.about-section {
    flex: 2;/* exspands the box size width and makes it even */
}
.skills-section {
    flex: 1; /* exspands the box */
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
.content-box {
    background-color: #e0e0e0; 
    min-height: 300px;
    display: flex;
}
.about-content {
    display: flex;
    align-items: flex-start; 
}
.me {
    width: 150px; 
    height: auto;

}
.textMe {
    padding: 20px;
    line-height: 1.5;
}
.img.me {

}
